// Header.scss
.footer-container {
  background-color: #253772;
  .footerLeftContainer {
    .typotext {
      font-size: 18px;
    }
    .leftSection {
      .footerLink { 
        margin-right: 10px;
      }
    }
  }
  .haedingSection {
    .typotext { 
      font-size: 18px;
    }
  }
  .typotext {
    margin-right: 35px;
    font-size: 14px;
    color: #f3fbfd;
    line-height: 24px;
  }
  .footerLink {
      color: #fff !important
  }
 
}